/* 0.0 Imports */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;500;700&display=swap');

/* 0.1 Basics */
body {
    margin: 0;
    font-family: Jost;
}

:root {
    scroll-behavior: smooth;
}

/* 1.0 Navigation */
nav {
    position: fixed;
    width: fit-content;

    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.nav__options {
    grid-template-columns: 140px 140px 200px 140px 140px;
    display: grid;
    text-align: center;
    align-items: center;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #fffc;
    padding: 10px;
    background: #0007;
    box-shadow: 1px 1px 5px #000a;
    font-size: 2em;
    border-radius: 3px;
    padding: 5px 20px;
    flex-grow: 1 1 0px;

    position: relative;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
}

nav a:hover {
    background: #2227;
    color: #fff;
    transition: color .2s .3s, background .2s .3s;
}

nav a::before {
    content: '';
    height: 150%;
    width: 40px;
    position: absolute;
    background-color: #fff3;
    top: -25%;
    left: 0;
    transform: translateX(-150%) rotate(15deg);
    transition: transform .4s;
}

nav a:hover::before{
    transform: translateX(150px) rotate(15deg);
}

nav .nav__title:hover::before{
    transform: translateX(212px) rotate(15deg);
}

.nav__title {
    font-size: 3em;
}

.nav__expand {
    position: fixed;
    top: -0.3em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    background: #0003;
    z-index: 1;
    padding: .5em;

    display: none;
    flex-direction: column;
    width: 1em;
    height: 1em;
    justify-content: space-evenly;

    border-radius: 0 0 50% 50%;
}

.nav__expand.active {
    top: initial;
    bottom: .75em;
    border-radius: 50%;
}

.nav__expand::before, .nav__expand::after {
    content: '';
    background: white;
    height: 3px;
    width: 1em;
    position: absolute;
    top: 50%;
}

.nav__expand::before {
    transform: translateY(-250%);
}

.nav__expand::after {
    transform: translateY(250%);
}

.nav__expand::before, .nav__expand::after {
    transition: transform .3s;
}

.nav__expand.active::before {
    background-color: #f00c;
    transform: rotate(-45deg);
}

.nav__expand.active::after {
    background-color: #f00c;
    transform: rotate(45deg);
}

.nav__expand div {
    width: 1em;
    height: 2px;
    background-color: #fffc;
}


/* 1.1 Navigation - order*/
nav a[href$='#podhale'] {
    order: 3;
}

nav a[href$='#historia'] {
    order: 1;
}

nav a[href$='#kultura'] {
    order: 2;
}

nav a[href$='#galeria'] {
    order: 4;
}

nav a[href$='#kontakt'] {
    order: 5;
}

/* 2.0 Section - backgrounds */
section {
    background-repeat: repeat-y !important;
    background-size: cover !important;
    background-position: center !important;
}

section:nth-child(2n) {
    background-attachment: fixed;
}

#podhale {
    background-image: url(../media/podhale.jpg);
}

#historia {
    background-image: url(../media/historia.jpg);
}

#kultura {
    background-image: url(../media/kultura.jpg);
}

#galeria {
    background-image: url(../media/galeria.jpg);
}

#kontakt {
    background-image: url(../media/kontakt.jpg);
}

/* 2.1 Section - style */
section {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    width: 100%;
}

article {
    position: relative;
    margin-top: 150px;
    width: 900px;
    box-sizing: border-box;
    padding: 1.5em;
    align-self: center;
    
    background: #0009;
    color: #fffc;
    transition: color .5s, background .5s;
}

article:hover {
    color: #fff;
    background: #000c;
}

article h2 {
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-weight: 700;
}

article p {
    font-weight: 500;
    text-align: justify;
}

article[js-selector-id] {
    display: none;
}

article[js-selector-id].active {
    display: block;
}

/* 2.1 Section - js-selector */
.js-selector__options {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 2em 0;
}

.js-selector__option {
    padding: 10px;
    color: #fff;
    background: #000c;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.3em;
}

.js-selector__option:hover, .js-selector__option.active {
    background: #000;
    box-shadow: 1px 1px 5px #000a;
    color: #fff;
    transition: background .3s;
}

/* 2.1.1 Custom selector style */
#kultura .js-selector__option {
    padding: 10px;
    color: #e7e1c3;
    background: #000c;
    cursor: pointer;
    font-weight: 700;
    text-shadow: 1px 1px 3px #000;
    margin-top: 7em;
    margin-bottom: -7em;
}

#kultura .js-selector__option:hover {
    padding: 10px;
    color: white;
    background: #e7e1c3;
    cursor: pointer;
    font-weight: 700;
}

#kultura aside {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#kultura aside img {
    width: 300px;
}

.kultura-kuchnia__gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.kultura-kuchnia__gallery div {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: border .3s, color .3s;
}

.kultura-kuchnia__img {
    width: 200px;
    height: 200px;
    border: 2px #666 solid;
}

.kultura-kuchnia__gallery div:hover {
    color: #e7e1c3;
}

.kultura-kuchnia__img:hover {
    border: 2px #837c58 solid;
}

#kontakt form {
    display: flex;
    flex-direction: column;
}

#kontakt form input {
    font-size: 1em;
    padding: .3em;
}

#kontakt form textarea {
    min-height: 5em;
    resize: vertical;
}

#kontakt form button {
    width: min-content;
    align-self: center;
    padding: .5em;
    margin: 1em;

    font-size: 1.2em;
    font-family: 'Jost';
    font-weight: 500;

    color: #e7e1c3;
    background: none;
    border: none;
    transition: background .3s, color .3s;
    text-shadow: 1px 1px 2px #000;
}

#kontakt form button:hover {
    color: white;
    background-color: #e7e1c3;
}

/* 2.3 Gallery */
.js-gallery {
    display: flex;
    flex-direction: column;
}

.js-gallery img {
    max-width: 100%;
    box-sizing: border-box;
    border: 2px solid white;
}

.js-gallery__options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.js-gallery .hidden {
    display: none;
}

.js-gallery__options span {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 1.5em;
    width: 1.5em;

    cursor: pointer;

    font-size: 2em;
    font-weight: 700;

    color: white;
    background: #2541B2;

    border-radius: 50%;
    margin: 1em 0;

    transition: background .3s, color .3s;
    user-select: none;
}

.js-gallery__options span:hover {
    color: #2541B2;
    background: white;
}

.js-gallery__options span:first-child {
    transform: rotate(180deg);
}

/* 3. Responsiveness */
@media (max-width: 900px) {
    nav {
        display: flex;

        position: fixed;
        top: 0;
        left: 0;

        transform: none;
    }

    .nav__expand {
        display: flex;
    }

    .nav__options {
        display: none;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        height: 100vh;
        width: 100vw;
        backdrop-filter: blur(10px);
    }

    .nav__options.active {
        display: flex;
        transform: backdrop-filter .5s;
    }

    nav a, .nav__title {
        font-size: 3em;
        font-weight: 400;
        width: 50%;
        margin: 0;
        gap: 0;
    }

    #kultura .js-selector__option {
        margin: 1.5em 0 -1.5em;
    }

    nav a::before {
        content: none;
    }

    article {
        max-width: 100%;
        margin: 1.5em;
    }

    nav a[href$='#podhale'] {
        order: 1;
    }
    
    nav a[href$='#historia'] {
        order: 2;
    }
    
    nav a[href$='#kultura'] {
        order: 3;
    }
    
    nav a[href$='#galeria'] {
        order: 4;
    }
    
    nav a[href$='#kontakt'] {
        order: 5;
    }
}